.with-search-dropdown {
  input {
    // @include h3-normal();
    background: transparent;
    font-size: 16px;
    width: 100%;
    height: 51px;
    border: none !important;
    border-radius: none !important;
    color: black;
    padding-inline-start: 16px;
  }
  .dropdown-toggle {
    padding: 0;
    width: 100%;
    background: transparent !important;
    border: none !important;
  }
}

// .pc-sort-filter {
//   display: flex;
//   flex-direction: column;
//   padding: 16px;
//   gap: 24px;
//   width: 306px;
//   background: white;
//   border-radius: 16px;
//   .title {
//     color: black;
//   }
// }

@mixin dropdownFilter {
  .dropdown-toggle {
    width: 100%;
    padding: 0 16px;
    background: white;
    border: none;
    box-shadow: 0px 4px 16px rgba(4, 4, 4, 0.03);
  }
  .dropdown-menu.show {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px 9px;
    gap: 6px;
    background: white;
    box-shadow: 0px 4px 16px rgba(4, 4, 4, 0.03);
    border-radius: 8px;
    z-index: 2;
  }
  .dropdown-item {
    color: black !important;
    border-radius: 8px;
    padding: 10px 7px;
    &:hover {
      background: gray;
    }
    &.active,
    &:focus {
      background: black;
      color: white !important;
    }
  }
}
.sort-dropdown {
  @include dropdownFilter();
  .dropdown-toggle {
    height: 53px;
  }
  .dropdown-toggle,
  .dropdown-menu.show {
    border: 1px solid gray;
    max-height: 250px;
    overflow: hidden auto;
  }
}
