button:focus {
  box-shadow: none !important;
}
.dropdown-toggle::before,
.dropdown-toggle::after {
  display: none !important;
}
input,
textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  &::placeholder {
    color: gray;
  }
  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}
.input-group {
  border-radius: 8px !important;
  overflow: hidden;
}
.input-group-text {
  background-color: white;
  border: none;
  cursor: pointer;
}

//for modal on modal
.fade {
  z-index: 10000000 !important;
}
