@mixin dateCalendar {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 392px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  .calendar-header {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 24px;
    thead tr > * {
      text-align: center;
      color: $primaryColor;
      font-weight: 400;
      padding: 0 4px;
    }
    .day {
      @include noSelectOnDClick();
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px;
      margin: 8px auto;
      gap: 10px;
      isolation: isolate;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      width: 36px;
      height: 36px;
      cursor: pointer;
      &.not-available {
        cursor: not-allowed;
        color: gray;
      }
      &.booked {
        background: green;
        color: white;
      }
      .today {
        position: absolute;
        width: 6px;
        height: 6px;
        left: 6px;
        top: 6px;
        border-radius: 50%;
        background: $primaryColor;
      }

      &.selected {
        background: $primaryColor;
        color: white;
      }
    }
  }
}
.common-calendar {
  @include dateCalendar();
  box-shadow: none;
}
.date-dropdown {
  .dropdown-toggle {
    min-height: 102px;
    font-size: 16px;
    padding: 8px 16px;
    padding-inline-start: 16px;
    background: white;
    color: black;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    .day {
      font-size: 40px;
    }
  }
  .dropdown-menu.show {
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    padding: 6px 9px;
    background: white;
    z-index: 10;
  }
  &.mobile {
    .dropdown-toggle {
      width: 100%;
    }
  }
}
