.flight-box {
  height: 110px;
  background: white;
  border-radius: 24px;
  padding: 16px;
  box-sizing: border-box;
}
.choose-btn {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 16px;
  border: none;
  background: $primaryColor;
  color: $secondaryColor;
  width: 200px;
}
