.pc-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  background-color: #18236e;
  z-index: 5;
  padding: 0 24px;
  gap: 24px;
  height: 64px;

  .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    line-height: 5px;
  }
  .dropdown-menu {
    margin-top: -2px;
    border: none;
    border-radius: 16px;
    padding: 10px 14.5px 10px 14.5px;
  }
  .user-menu {
    .dropdown-menu {
      min-width: 220px !important;
    }
  }
  .dropdown-menu .nav-link {
    color: black;
    padding: 5px 9.5px;
    margin: 0px;
    border-radius: 8px;
    &:hover,
    &.active,
    &:focus {
      background: black;
      color: white !important;
    }
  }
}
.header-btn {
  font-size: 16px;
  font-weight: 300;
  padding: 8px 16px;
  border: none;
  &.primary {
    background: $primaryColor;
    color: $secondaryColor;
  }
  &.secondary {
    color: $primaryColor;
    background: $secondaryColor;
  }
}
