.tab-btn {
  font-size: 16px;
  border: none;
  padding: 8px 16px;
  &.rounded {
    border-radius: 20px !important;
  }
  &.selected {
    color: $secondaryColor;
    background: $primaryColor;
  }
  &.not-selected {
    background: $secondaryColor;
    color: $primaryColor;
  }
}
.tabs-container {
  background: $secondaryColor;
  border-radius: 20px;
  padding: 8px;
}
