.travel-form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: min(100vw, 400px);
  .submit-btn {
    font-size: 24px;
    color: $secondaryColor;
    background: $primaryColor;
    padding: 12px;
    border: none;
  }
}
.dropdown-container {
  padding: 36px 36px 12px;
  &.origin {
    background: white;
  }
  &.destination {
    background: #f1f1f1;
  }
  .title {
    color: #ff70c4;
  }
}
.primary-caption {
  font-size: 16px;
  color: $primaryColor;
}
.auth-err {
  width: fit-content;
  border-radius: 4px;
  background: rgba(214, 41, 41, 0.12);
  color: #d62929;
  font-style: normal;
  padding: 0 4px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
